body {
    background-color: #E9CBF5;
    font-family: 'Bradley Hand', cursive; 
    margin: 0;
    padding: 0;
    color: #4D0E3F;
}

#container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: plum;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    background-color: #9B10A1;
    color: violet;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.resaltado {
    color: #FF00FF;
    font-weight: bolder;
}

ul {
    background-color: #F9DFFB;
    padding: 15px;
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #9B10A1;
    color: violet;
}

img {
    display: block;
    width: 60%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #4D0E3F;
}
