body { /* Establece el diseño global de la pagina */
    background-color: #E9CBF5; /* COlor de fondo */
    font-family: 'Bradley Hand', cursive;  /* Fuente */
    margin: 0; /* Margen */
    padding: 0; /* Hace que el contenido no este pegado al borde */
    color: #4D0E3F;  /* color de fuente */
}

    
#container { /* Define el diseño del contenedor principal */
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: plum;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header { /* DIseño del encabezado */
    background-color: #9B10A1;
    color: violet;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

.resaltado { /* Define con que diseño va a resalta el span */
    color: #FF00FF;
    font-weight: bolder;
}

ul { /* Diseño de la lista  */
    background-color: #F9DFFB;
    padding: 15px;
    border-radius: 8px;
}

table { /* Diseño de la tabla */
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td { /* Define estructura de la tabla */
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th { /*  diseño de la tabla*/
    background-color: #9B10A1;
    color: violet;
}

img { /* Nos dice como se va a mostrar la imagen insertada */
    display: block;
    width: 60%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

footer { /* Diseño del pie de pagina */
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #4D0E3F;
}

